# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
.next/
build/

# Docker
.dockerignore

# Project
shared-volume/
*.apk
*.apk.*
keystore.jks

# Gradle
.gradle/
android-app/build/
local.properties
*.iml

# IDE
.vscode/
.idea/
*.swp
releases/*.zip
releases/*.tar.gz
mobile-morpher-*-linux-x64/
